<?xml version="1.0"?>
<!--
Copyright (c) 2017, STEREOLABS.

All rights reserved.

THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS
"AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT
LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR
A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT
OWNER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL,
SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT
LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE,
DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY
THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT
(INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE
OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
-->
<launch>

    <!-- Odometry coordinate frame -->
    <arg name="odometry_frame"        default="map" />

    <arg name="zed_id0"               default="0" />
    <arg name="zed_id1"               default="1" />
    <arg name="zed_id2"               default="2" />

    <node pkg="tf" type="static_transform_publisher" name="zed1_broadcaster" args="0 0 0 0 0 0  zed_center zed0/odom 10" />
    <node pkg="tf" type="static_transform_publisher" name="zed2_broadcaster" args="-0.05 -0.225 0 0.5 0 0 zed_center zed1/odom 10" />
    <node pkg="tf" type="static_transform_publisher" name="zed3_broadcaster" args="-0.05 0.345 0 -0.5 0 0 zed_center zed2/odom 10" />

    <!-- First ZED camera -->
    <group ns="zed0">
        <include file="$(find zed_wrapper)/launch/zed_camera.launch">
            <arg name="zed_id"                value="$(arg zed_id0)" />
            <arg name="serial_number"         value="3591"/>
            <!-- compliant mode for rviz -->
            <arg name="odometry_frame"        value="zed$(arg zed_id0)/odom" />
        </include>
    </group>

    <!-- Second ZED camera -->
    <group ns="zed1">
        <include file="$(find zed_wrapper)/launch/zed_camera.launch">
            <arg name="zed_id"                value="$(arg zed_id1)" />
            <arg name="serial_number"         value="1700"/>
            <!-- compliant mode for rviz -->
            <arg name="odometry_frame"        value="zed$(arg zed_id1)/odom" />
        </include>
    </group>

    <!-- Second ZED camera -->
    <group ns="zed2">
        <include file="$(find zed_wrapper)/launch/zed_camera.launch">
            <arg name="zed_id"                value="$(arg zed_id2)" />
            <arg name="serial_number"         value="3593"/>
            <!-- compliant mode for rviz -->
            <arg name="odometry_frame"        value="zed$(arg zed_id2)/odom" />
        </include>
    </group>
</launch>
