<launch>
    
    <arg name="veh" default="/"/> 

    <!-- Planning -->
    <arg name="update_time" default="0.5"/>
    <arg name="vehicle_size" default="0.5"/>
    <arg name="local_cost" default="2.0"/>
    <!-- arg name="odom_topic" default="/gazebo/gazebo_odometry"/-->
    <!-- arg name="odom_topic" default="/husky_velocity_controller/odom"/--> 
    <arg name="odom_topic" default="/localization_gps_imu/odometry"/>

    <group ns="$(arg veh)">
        <remap from="path_planning/odom" to="$(arg odom_topic)"/>
        <remap from="path_planning/goal" to="/move_base_simple/goal"/>
        <remap from="path_planning/map" to="/map"/>
        <include file="$(find path_planning)/launch/path_planning.launch">
            <arg name="update_time" value="$(arg update_time)"/>
            <arg name="vehicle_size" value="$(arg vehicle_size)"/>
            <arg name="local_cost" value="$(arg local_cost)"/>
        </include>

        <remap from="odom" to="$(arg odom_topic)"/>
        <include file="$(find path_planning)/launch/control.launch">
        </include>
    </group>
</launch>
