<launch>
    
    <arg name="veh" default="/"/> 

    <!-- Planning -->
    <arg name="update_time" default="0.5"/>

    <group ns="$(arg veh)">
        <remap from="path_planning/odom" to="/gazebo/gazebo_odometry"/>
        <remap from="path_planning/goal" to="/move_base_simple/goal"/>
        <remap from="path_planning/map" to="/map"/>
        <include file="$(find path_planning)/launch/path_planning.launch">
            <arg name="update_time" value="$(arg update_time)"/>
        </include>
    </group>
</launch>