<launch>    
    <arg name="veh" default="/"/>
    <arg name="sim" default="true"/>
    <param name="use_sim_time" value="$(arg sim)"/>

    <!-- Param -->
    <arg name="global_map" default="false"/>

    <!-- PointCloud preprocess -->
    <arg name="preprocessing_factor" default="bamboo_lake"/>
    <arg name="z_min" default="-0.7"/>
    
    <!-- Scan to grid maop -->
    <arg name="cell_size" default="0.3"/>
    <arg name="map_length" default="40"/>
    <arg name="sync_time" default="0.5"/>
    <arg name="frame_id" default="map"/>
    <arg name="vehicle_size" default="0.1"/>

    <!-- GPS IMU -->
    <arg name="latitude" default="24.7854974"/>
	<arg name="longitude" default="120.9970078"/>
	<arg name="yaw_offset" default="0"/>
    <arg name="visual" default="false"/>

    <!-- Rtabmap -->

    <!--arg name="rgb_topic"               default="/camera/color/image_rect_color" />
    <arg name="depth_registered_topic"  default="/camera/depth/image_rect_raw" />
    <arg name="camera_info_topic"       default="/camera/color/camera_info" /-->

    <arg name="rgb_topic"               default="/camera/rgb/image_raw" />
    <arg name="depth_registered_topic"  default="/camera/depth/image_raw" />
    <arg name="camera_info_topic"       default="/camera/rgb/camera_info" />

    <arg name="rtabmap_args"            default="--delete_db_on_start --Odom/Strategy 1 --Odom/FilteringStrategy 1 --publish_null_when_lost false --publish_tf false"/>
    <arg name="subscribe_scan"          default="true"/>         <!-- Assuming 2D scan if set, rtabmap will do 3DoF mapping instead of 6DoF -->
    <arg name="scan_topic"              default="/scan_from3d"/>
    <arg name="subscribe_scan_cloud"    default="false"/>         <!-- Assuming 3D scan if set -->
    <arg name="scan_cloud_topic"        default="/velodyne_points"/>
    <arg name="odom_topic"              default="/localization_gps_imu/odometry"/>
    <arg name="visual_odometry"         default="false"/>
    <arg name="icp_odometry"            default="false"/>
    <arg name="localization"            default="false"/>

    <group ns="$(arg veh)">

        <!-- PointCloud preprocess -->
        <remap from="/pcl_preprocessing/velodyne_points" to="/velodyne_points"/>
        <include file="$(find velodyne_perception)/launch/pcl_preprocessing.launch">
            <arg name="preprocessing_factor" value="$(arg preprocessing_factor)"/>
            <arg name="z_min" value="$(arg z_min)"/>
        </include>
 
        <!-- PointCloud to laserscan -->
        <remap from="cloud_in" to="/pcl_preprocessing/velodyne_points_preprocess"/>
        <remap from="scan" to="/scan_from3d"/>
        <include file="$(find pointcloud_to_laserscan)/launch/pointcloud_to_laserscan.launch">
        <arg name="z_min" value="$(arg z_min)"/>
        </include>

        <!-- GPS Odometry -->
        <remap from="localization_gps_imu/fix" to="fix"/>
        <remap from="localization_gps_imu/imu/data" to="imu/data"/>
        <include file="$(find gps_imu_odometry)/launch/localization_gps_imu.launch">
            <arg name="latitude"    value="$(arg latitude)"/>
            <arg name="longitude"   value="$(arg longitude)"/>
            <arg name="yaw_offset"  value="$(arg yaw_offset)"/>
            <arg name="visual"  value="$(arg visual)"/>
        </include>

        <group if="$(arg global_map)">
            <!-- Rtab map -->
            <remap from="odom" to="/localization_gps_imu/odometry"/>
            <include file="$(find rtabmap_ros)/launch/rgbd_mapping.launch">
                <arg name="rgb_topic"   value="$(arg rgb_topic)"/>
                <arg name="depth_registered_topic"  value="$(arg depth_registered_topic)"/>
                <arg name="camera_info_topic"   value="$(arg camera_info_topic)"/>
                <arg name="rtabmap_args"    value="$(arg rtabmap_args)"/>
                <arg name="subscribe_scan" value="$(arg subscribe_scan)"/>
                <arg name="scan_topic"   value="$(arg scan_topic)"/>
                <arg name="subscribe_scan_cloud" value="$(arg subscribe_scan_cloud)"/>
                <arg name="scan_cloud_topic" value="$(arg scan_cloud_topic)"/>
                <arg name="odom_topic" value="$(arg odom_topic)"/>
                <arg name="visual_odometry" value="$(arg visual_odometry)"/>
                <arg name="icp_odometry" value="$(arg icp_odometry)"/>
                <arg name="localization" value="$(arg localization)"/>
            </include>
        </group>

        <group unless="$(arg global_map)">
            
            <!-- Local Grid map -->
            <remap from="scan" to="/scan_from3d"/> <!--/scan_from3d-->
            <remap from="odom" to="/localization_gps_imu/odometry"/> <!--/gazebo/gazebo_odometry  -->
            <include file="$(find pointcloud_to_laserscan)/launch/local_cost2d.launch">
                <arg name="cell_size"   value="$(arg cell_size)"/>
                <arg name="map_length"  value="$(arg map_length)"/>
                <arg name="sync_time"   value="$(arg sync_time)"/>
                <arg name="frame_id"    value="$(arg frame_id)"/>
                <arg name="vehicle_size" value="$(arg vehicle_size)"/>
            </include>

            <node pkg="tf" type="static_transform_publisher" name="link1_broadcaster" args="0 0 0 0 0 0 /odom /map 100" />
        </group>

        
        <!--include file="$(find move_base_navagation)/launch/gmapping.launch" >
            <arg name="scan_topic" value="$(arg scan_topic)"/>
        </include-->
        
        <!-- Move base DWA planner -->
        <include file="$(find move_base_navagation)/launch/exploration_demo_custom.launch">
        </include>

    </group>
</launch>
