<launch>    
    <arg name="veh" default="/"/> 

    <group ns="$(arg veh)">
        <remap from="localization_gps_imu/fix" to="fix"/>
        <remap from="localization_gps_imu/imu/data" to="imu/data"/>
        <include file="$(find gps_imu_odometry)/launch/localization_gps_imu.launch">
        </include>
    </group>

</launch>