<launch>
    <arg name="sim" default="true"/>
    <param name="use_sim_time" value="$(arg sim)"/>

    <arg name="veh" default="/"/> 

    <!-- LOAM Visual Odometry -->
    <group ns="$(arg veh)">
        <node pkg="tf" if="$(eval veh == '/')" type="static_transform_publisher" name="camera_init_to_map" args="0 0 0 1.570795   0        1.570795 odom    camera_init 10" />
        <node pkg="tf" unless="$(eval veh == '/')" type="static_transform_publisher" name="camera_init_to_map" args="0 0 0 0 0 0 $(arg veh)/odom $(arg veh)/camera_init 100" />
        <node pkg="tf" if="$(eval veh == '/')" type="static_transform_publisher" name="base_link_to_camera" args="0 0 0 -1.570795 -1.570795 0 camera base_link   10" />
        <node pkg="tf" unless="$(eval veh == '/')" type="static_transform_publisher" name="base_link_to_camera" args="0 0 0 0 0 0 $(arg veh)/camera $(arg veh)/base_link 100" />
        <group ns="loam">
            <remap from="velodyne_points" to="/velodyne_points"/>
            <include file="$(find lego_loam)/launch/run.launch">
            </include>
        </group>


        <node pkg="robot_localization" type="ukf_localization_node" name="ukf_se" clear_params="true">
            <remap from="lidar_odometry" to="loam/integrated_to_init"/>
            <remap from="wheel_odometry" to="husky_velocity_controller/odom"/>
            <rosparam command="load" file="$(find ugv)/params/ukf.yaml" />
        </node>

    </group>

</launch>