<launch>
    <arg name="veh" default="/"/> 
    <arg name="sim" default="false"/>
    <arg name="gps" default="false"/>
    <arg name="gps_port" default="/dev/sensor_gps"/>
    <arg name="gps_baud" default="4800"/>

    <param name="use_sim_time" value="$(arg sim)"/>


    <node pkg="tf" type="static_transform_publisher" name="base_camera_broadcaster" args="0 0 0 0 0 0 /base_link /camera_link 100"/>
    <node pkg="tf" type="static_transform_publisher" name="base_velodyne_broadcaster" args="0 0 0.5 0 0 0 /base_link /velodyne 100"/>
    <node pkg="tf" type="static_transform_publisher" name="base_imu_broadcaster" args="0 0 0 0 0 0 /base_link /imu_link 100"/>
    <node pkg="tf" type="static_transform_publisher" name="base_gps_broadcaster" args="0 0 0 0 0 0 /base_link /gps 100"/>

    <group ns="$(arg veh)">
        <include file="$(find velodyne_pointcloud)/launch/VLP16_points.launch">
        </include>

        <include file="$(find realsense2_camera)/launch/rs_rgbd.launch">
        </include>

	    <include file="$(find microstrain_3dm_gx5_45)/launch/microstrain_25.launch">
        </include>

        <node if="$(arg gps)" pkg="nmea_navsat_driver" type="nmea_serial_driver" name="nmea_serial_driver" output="screen">
            <param name="~port" value="$(arg gps_port)"/>
            <param name="~baud" value="$(arg gps_baud)"/>
        </node>

    </group>	

</launch>
