<?xml version="1.0" encoding="utf-8"?>
<launch>
	<arg name="visual" default="true"/>
	<arg name="preprocessing_factor" default="bamboo_lake"/>
	<arg name="preprocessing_with_gps" default="false"/>
	<arg name="classify" default="false"/>

	<!-- Open GPS -->
	<include file="$(find vector_gps)/launch/gps.launch"/>

	<!-- Locolization -->
	<include file="$(find localization)/launch/localization.launch"/>

	<!-- Open velodyne -->
	<include file="$(find velodyne_pointcloud)/launch/32e_points.launch"/>

	<!-- Velodyne perception -->
	<include file="$(find velodyne_perception)/launch/pcl_map.launch">
		<arg name="visual" value="$(arg visual)"/>
		<arg name="preprocessing_factor" value="$(arg preprocessing_factor)"/>
		<arg name="preprocessing_with_gps" value="$(arg preprocessing_with_gps)"/>
		<arg name="classify" value="$(arg classify)"/>
	</include>

</launch>
