<?xml version="1.0"?>

<launch>



    <!-- run pointcloud_to_laserscan node -->
    <node pkg="pointcloud_to_laserscan" type="pointcloud_to_laserscan_node" name="pointcloud_to_laserscan">

        <remap from="cloud_in" to="/cluster_result"/>
        <remap from="scan" to="/laserscan"/>
        <rosparam>
            target_frame: velodyne
            min_height: -1.0
            max_height: 1.0
            angle_min: -3.1415
            angle_max: 3.1415
            range_min: 0.45
            range_max: 50.0
            use_inf: true

            # Concurrency level, affects number of pointclouds queued for processing and number of threads used
            # 0 : Detect number of cores
            # 1 : Single threaded
            # 2->inf : Parallelism level
            concurrency_level: 0
        </rosparam>

    </node>

</launch>
