<launch>    
    <arg name="visual" default="false"/>
    <arg name="preprocessing_factor" default="bamboob_lake"/>
    <arg name="preprocessing_with_gps" default="true"/>

    <!-- PointCloud preprocess -->
    <node name="pcl_preprocessing" pkg="velodyne_perception" type="pcl_preprocessing_rviz"  output="screen" clear_params="true" required="true">
        <rosparam command="load" file="$(find velodyne_perception)/config/$(arg preprocessing_factor).yaml"/>
    </node>
</launch>
