<launch>    
    <arg name="visual" default="false"/>
    <arg name="preprocessing_factor" default="gazebo"/>
    <arg name="veh" default="X1"/>

    <!-- PointCloud preprocess -->
    <group ns="$(arg veh)">
        <remap from="pcl_preprocessing/velodyne_points" to="points"/>
        <node name="pcl_preprocessing" pkg="velodyne_perception" type="pcl_preprocessing"  output="screen" clear_params="true" required="true">
            <rosparam command="load" file="$(find velodyne_perception)/config/$(arg preprocessing_factor).yaml"/>
        </node>
    </group>
</launch>
