<launch>    
    <arg name="preprocessing_factor" default="gazebo"/>
    <arg name="z_min" default="-0.7"/>

    <node name="pcl_preprocessing" pkg="pcl_perception" type="pcl_preprocessing"  output="screen" clear_params="true" required="true">
        <param name="z_min" value="$(arg z_min)"/>
        <rosparam>
            range_min : 0.5
            range_max : 30.0

            angle_min : -170.0
            angle_max : 170.0
            z_max : 0.8
            y_min : 0.1
            x_min : 0.1
        </rosparam>
    </node>
</launch>
